.woodev_page_woodev-extensions #wpbody-content,
.woodev_page_woodev-extensions #wpcontent {
    overflow-x: initial !important;
    padding: 0;
    min-height: calc(100vh - 32px);
}

.woodev_page_woodev-extensions #wpcontent .notice {
    margin-left: 15px;
}

.woodev-extension-wrap {
    margin-top: 15px;
    margin-bottom: 35px;
    display: block;
    width: 100%;
}

.woodev-extension-header {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 216px;
    padding: 24px 16px;
    width: 100%;
}

.woodev-extension-header__title {
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.15;
    margin-bottom: 8px;
    padding: 0;
}

.woodev-extension-header__description {
    color: #222;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    margin-top: 0;
}

.woodev-extension-header__search-form {
    clear: both;
    display: block;
    max-width: 318px;
    position: relative;
}

.woodev-extension-header__search-form input {
    border: 1px solid #ddd;
    box-shadow: none;
    font-size: 13px;
    height: 48px;
    padding-left: 16px;
    padding-right: 50px;
    width: 100%;
    margin: 0;
}

.woodev-extension-header__search-form button {
    background: 0 0;
    border: none;
    cursor: pointer;
    height: 48px;
    position: absolute;
    right: 0;
    width: 53px;
}

.woodev_page_woodev-extensions .wrap {
    margin: 32px 0 0;
    padding: 0 20px;
}

.woodev-extension-content-wrapper {
    margin: 0 auto;
    max-width: 1700px;
    width: 100%;
}

.woodev-extension-content-categories {
    background: 0 0;
    border: none;
    margin-bottom: 32px;
    width: 100%;
}

.woodev-extension-content-categories > ul {
    background: 0 0;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -12px;
    padding: 0;
}
.woodev-extension-content-categories > ul > li {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    margin: 12px 12px 0 0;
}
.woodev-extension-content-categories > ul > li > a {
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #1e1e1e;
    display: inline-block;
    text-decoration: none;
    outline: 0;
    padding: 10px 15px;
    position: relative;
    width: 100%;
}
.woodev-extension-content-categories > ul > li.current {
    background: #00c9fd;
    border: 1px solid #00c9fd;
}
.woodev-extension-content-categories > ul > li.current > a {
    color: #fff;
}

.woodev-extension-content-list {
    display: flex;
    flex-wrap: wrap;
}

.woodev-extension-content-list .woodev-extension-content-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    margin: 0 8px 16px;
    width: 48.5%;
    width: calc(50% - 8px);
    background-color: #fff;
    border: 1px solid #dcdcde;
    box-sizing: border-box;
}

.woodev-extension-content-list .woodev-extension-content-item:nth-child(odd) {
    clear: both;
    margin-left: 0
}

.woodev-extension-content-list .woodev-extension-content-item:nth-child(even) {
    margin-right: 0
}

.woodev-extension-content-item .details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.woodev-extension-content-item .details .picture {
    display: block;
    padding: 15px 7.5px 15px 15px;
}

.woodev-extension-content-item .details .picture  > a {
    display: block;
}

.woodev-extension-content-item .details .picture  > a > img {
    border-radius: 3px;
    display: block;
    margin: 0;
    max-width: 100px;
    max-height: 100px;
}

.woodev-extension-content-item .details .description {
    padding: 15px 15px 15px 7.5px;
}

.woodev-extension-content-item .details .description .name {
    margin-top: 0;
}

.woodev-extension-content-item .details .description .name > a {
    text-decoration: none;
}

.woodev-extension-content-item .details .description .excerpt {}

.woodev-extension-content-item .footer {
    align-items: center;
    border-top: 1px solid #dcdcde;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 15px;
}

@media only screen and (max-width: 782px) {
    .woodev-extension-content-list .woodev-extension-content-item {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}


@media only screen and (min-width: 1600px) and (max-width:2299px) {
    .woodev-extension-content-list .woodev-extension-content-item {
        width:30%;
        width: calc(33.1% - 8px)
    }

    .woodev-extension-content-list .woodev-extension-content-item:nth-child(odd) {
        clear: none;
        margin-left: 8px
    }

    .woodev-extension-content-list .woodev-extension-content-item:nth-child(even) {
        margin-right: 8px
    }

    .woodev-extension-content-list .woodev-extension-content-item:nth-child(3n+1) {
        clear: both;
        margin-left: 0
    }

    .woodev-extension-content-list .woodev-extension-content-item:nth-child(3n) {
        margin-right: 0
    }
}

@media only screen and (min-width: 2300px) {
    .woodev-extension-content-list .woodev-extension-content-item {
        width:25%;
        width: calc(25% - 12px)
    }

    .woodev-extension-content-list .woodev-extension-content-item:nth-child(odd) {
        clear: none;
        margin-left: 8px
    }

    .woodev-extension-content-list .woodev-extension-content-item:nth-child(even) {
        margin-right: 8px
    }

    .woodev-extension-content-list .woodev-extension-content-item:nth-child(4n+1) {
        clear: both;
        margin-left: 0
    }

    .woodev-extension-content-list .woodev-extension-content-item:nth-child(4n) {
        margin-right: 0
    }
}

@media only screen and (min-width: 1100px) {
    .woodev-extension-content-categories > ul {
        justify-content: center;
    }
}

@media (max-width: 782px) {
    .woodev_page_woodev-extensions #wpbody-content,
    .woodev_page_woodev-extensions #wpcontent {
        min-height: calc(100vh - 46px);
    }
}

@media screen and (min-width: 600px) {
    .woodev-extension-header {
        padding-left: 84px;
    }
}